---
import dayjs from "dayjs";
import BaseLayout from "@layouts/BaseLayout.astro";

const allPosts = await Astro.glob("./**/*.{mdx,md}");
const orderedPost = allPosts.sort((a, b) => {
  const aDate = dayjs(a.frontmatter.date);
  const bDate = dayjs(b.frontmatter.date);
  return aDate.isBefore(bDate) ? 1 : -1;
});
---

<BaseLayout>
  <h1 class="mb-2">Latest Blogs</h1>
  <h6 class="font-serif text-gray-500">
    I write about web development, design, and other things I find interesting.
  </h6>
  <ul>
    {
      orderedPost.map((post) => {
        return (
          <li>
            <a class="no-underline" href={post.url}>
              {post.frontmatter.title}
            </a>
          </li>
        );
      })
    }
  </ul>
</BaseLayout>
