---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1 class="mb-2">About Me</h1>
  <hr class="my-4" />

  <p>
    Hi, I am Faruk, a frontend developer. Working at <a
      href="https://www.binalyze.com/">Binalyze</a
    > Creator of the open source projects. <a
      href="https://github.com/bufgix/github-cv">github cv</a
    >, <a href="https://github.com/passwall/passwall-extension"
      >passwall extension</a
    >,
    <a href="https://github.com/bufgix/github-blog">github blog</a>, <a
      href="https://github.com/bufgix/svelte-claps">svelte-claps</a
    >
    and <a href="https://github.com/Papyon-Apps/rn-notify"
      >react native notfiy</a
    >. Currently I am working on create cool mobile apps with React Native in <a
      href="https://github.com/Papyon-Apps/">PapyonApps</a
    >
  </p>

  <p>
    Find me on <a href="https://github.com/bufgix">Github</a><br />
    Mail me at <a href="mailto:hi@farukoruc.com"> hi@farukoruc.com</a><br />
  </p>
  <p>
    You can see my full
    <a
      href="https://docs.google.com/document/d/1tN6QMFZBXqTrzR9U2Gfjbctsv6FWRjSCq3qcAZWMQ74/edit?usp=sharing"
      >resume</a
    >
  </p>
</BaseLayout>
