<h3 id="-nbsp-tech-stack">Tech Stack</h3>
<div class="flex flex-wrap">
  <img
    src="https://img.shields.io/badge/-JavaScript-05122A?style=flat&logo=javascript"
    alt="JavaScript"
  />&nbsp;
  <img
    src="https://img.shields.io/badge/-React-05122A?style=flat&logo=react"
    alt="React"
  />&nbsp;
  <img
    src="https://img.shields.io/badge/-Vue-05122A?style=flat&logo=vue.js"
    alt="Vue"
  />&nbsp;
  <img
    src="https://img.shields.io/badge/-Svelte-05122A?style=flat&logo=svelte"
    alt="Svelte"
  />&nbsp;
  <img
    src="https://img.shields.io/badge/-React%20Native-05122A?style=flat&logo=react"
    alt="React Native"
  />&nbsp;
  <img
    src="https://img.shields.io/badge/-Node.js-05122A?style=flat&logo=node.js"
    alt="Node.js"
  />&nbsp;
  <img
    src="https://img.shields.io/badge/-TypeScript-05122A?style=flat&logo=TypeScript"
    alt="Typescript"
  />&nbsp;
  <img
    src="https://img.shields.io/badge/-Swift-05122A?style=flat&logo=Swift"
    alt="Typescript"
  />&nbsp;
  <img
    src="https://img.shields.io/badge/-Gatsby-05122A?style=flat&logo=gatsby&logoColor=663399"
    alt="Gatsby"
  />&nbsp;
  <img
    src="https://img.shields.io/badge/-MongoDB-05122A?style=flat&logo=mongodb"
    alt="MongoDb"
  />&nbsp;
  <img
    src="https://img.shields.io/badge/-Graphql-05122A?style=flat&logo=graphql&logoColor=663399"
    alt="Graphql"
  />&nbsp;
  <img
    src="https://img.shields.io/badge/-Bootstrap-05122A?style=flat&logo=bootstrap&logoColor=563D7C"
    alt="Bootstrap"
  />&nbsp;
  <img
    src="https://img.shields.io/badge/-HTML-05122A?style=flat&logo=HTML5"
    alt="HTML"
  />&nbsp;
  <img
    src="https://img.shields.io/badge/-CSS-05122A?style=flat&logo=CSS3&logoColor=1572B6"
    alt="CSS"
  />&nbsp;
  <img
    src="https://img.shields.io/badge/-Git-05122A?style=flat&logo=git"
    alt="Git"
  />&nbsp;
  <img
    src="https://img.shields.io/badge/-Python-05122A?style=flat&logo=python"
    alt="Python"
  />&nbsp;
  <img
    src="https://img.shields.io/badge/-Django-05122A?style=flat&logo=django&logoColor=092E20"
    alt="Django"
  />&nbsp;
  <img
    src="https://img.shields.io/badge/-Flask-05122A?style=flat&logo=flask"
    alt="Flask"
  />&nbsp;
  <img
    src="https://img.shields.io/badge/-Android-05122A?style=flat&logo=android"
    alt="Android"
  />&nbsp;
  <img
    src="https://img.shields.io/badge/-Docker-05122A?style=flat&logo=docker"
    alt="Docker"
  />&nbsp;
  <img
    src="https://img.shields.io/badge/-Java-05122A?style=flat&logo=Java&logoColor=FFA518"
    alt="Java"
  />&nbsp;
  <img
    src="https://img.shields.io/badge/-C-05122A?style=flat&logo=C&logoColor=A8B9CC"
    alt="C"
  />&nbsp;
  <img
    src="https://img.shields.io/badge/-Visual%20Studio%20Code-05122A?style=flat&logo=visual-studio-code&logoColor=007ACC"
    alt="Visual Studio Code"
  />&nbsp;
</div>

<style lang="scss">
  img {
    margin: 0 !important;
    height: 20px;
  }
</style>
