---
import Header from "@components/Header.svelte";
import TheIcons from "@components/TheIcons.astro";
import "@styles/editor.scss";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>My Cool Astro Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <TheIcons />
  <body>
    <main
      class="bg-light dark:bg-dark dark:text-white text-dark min-h-screen transition-colors duration-100 flex flex-col"
    >
      <Header client:load />
      <div
        class="prose container mx-auto px-4 flex-1 leading-relaxed dark:prose-invert"
      >
        <slot />
      </div>
    </main>
  </body>

  <style is:global>
    code {
      counter-reset: line;
    }
    code > .line:before {
      counter-increment: line;
      content: counter(line);
      display: inline-block;
      width: 1rem;
      margin-right: 2rem;
      text-align: right;
      color: gray;
    }

    code .line {
      padding: 0 1.25rem;
      border-left: 3px solid transparent;
    }

    code .highlighted {
      background: rgba(200, 200, 255, 0.1);
      border-left-color: #60a5fa;
    }
  </style>


</html>
