---
import Header from "@components/Header.svelte";
import TheIcons from "@components/TheIcons.astro";
import "@fontsource/fira-code";
import "@styles/blog.scss";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>My Cool Astro Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <TheIcons />
  <body>
    <main
      class="bg-light dark:bg-dark dark:text-white text-dark min-h-screen transition-colors duration-100 flex flex-col"
    >
      <Header client:load />
      <div
        class="prose dark:prose-invert container mx-auto px-4 pb-8 flex-1 leading-relaxed"
      >
        <slot />
      </div>
    </main>
  </body>


</html>
