<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>My Cool Astro Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <main
      class="bg-light dark:bg-dark dark:text-white text-dark min-h-screen transition-colors duration-100 flex flex-col"
    >
      <div class="prose container mx-auto px-4 flex-1 leading-relaxed">
        <slot />
      </div>
    </main>
  </body>
</html>
